@import url(http://fonts.googleapis.com/css?family=Condiment);
@import url(http://fonts.googleapis.com/css?family=Sail);

p{
	font-size: 1.2em;
	line-height:  1.5em;
	font-family:'Condiment', cursive;
}

#nek {
	  background-size: 3em;
}

.nek {
	font: bold 4em 'Sail', cursive;
	color: rgb(191,131,87);
	text-shadow: 0 2px 3px #000;
}

.ne {
	font: bold 2em 'Sail', cursive;
	color: rgb(191,131,87);
}

#me {
	font-size: 1.2em;
	font-family:'Times New Roman'; Times; 
}



.header {
	position: fixed;
	font-size: 2em;
}

a:link {
	color: black;
}
a:visited {
	color: silver;
}
a:hover {
	color: olive;
	font-weight: bold;
}
a:active {
	color: lime;
}



